@model MyTestWebApp.Models.Ad

@{
    Layout = null;
}

<div>
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>

    <form asp-action="Delete" onsubmit="return deleteInPopUp(this);">
        <input type="hidden" asp-for="AdId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
            <button onclick="closePopUp()" class="btn btn-dark">Back</button>
    </form>
</div>
