@model MyTestWebApp.Models.Ad

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление</h1>

<h3>Вы действительно хотите удалить это объявление?</h3>
<div>
    <h4>Ad</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AdId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
