@{
    ViewData["Title"] = "Начальная страница";
}

<div class="text-center">
    <h1 class="display-4">Ad table</h1>
    <h5 class="float-md-right">
        <a asp-controller="Ads" asp-action="Index" class="btn btn-info">Ads list</a>
        <hr />
        <a asp-controller="Account" asp-action="Index" class="btn btn-info">Profile</a>
    </h5>
</div>
