@{
    ViewData["Title"] = "Начальная страница";
}

<div class="text-center">
    <h1 class="display-4">Доска объявлений</h1>
    <h5 class="float-md-right">
        <a asp-controller="Ads" asp-action="Index" class="btn btn-info">Перейти к объявлениям</a>
        <hr />
        <a asp-controller="Account" asp-action="Index" class="btn btn-info">Личный кабинет</a>
    </h5>
</div>
